
.hero-section {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  font-size: 70px;
  --tw-text-opacity: 1;
  color: rgb(33 33 33 / var(--tw-text-opacity));
  letter-spacing: -0.5px;
  font-weight: 700;
  text-align: center;
}

.para {
  margin: auto;
  max-width: 42rem;
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
  margin-bottom: 0.75rem;
  margin: auto;
  font-size: large;
  margin-top: 2rem;
}

.trip-btn {
  background-color: green !important;
  margin-top: 4rem;
  display: flex;
  justify-content: center;

  .transition-colors {
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
  }

  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));

  font-size: 1.25rem;
  line-height: 1.75rem;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  padding-left: 2rem;
  padding-right: 2rem;

  --tw-bg-opacity: 1;
  background-color: rgb(0 80 30 / var(--tw-bg-opacity)) ;

  border-radius: 9999px;

  gap: 0.5rem;

  align-items: center;

  display: flex;

  margin-left: auto;
  margin-right: auto;
}

.enclose {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.IMG{
  width: 40%;
  height: 20%;
}

.hawaii-illustration {
  background-color: antiquewhite;
  /* background-image: url(/src/components/styles/images/vector_art.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: contents;
  margin: 2rem;
}

.partFivelastdiv {
  visibility: visible;
  position: relative;
  display: block;
  cursor: grab;
}

.image-wrapper {
  /* margin: 0px 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-wrapper img {
  width: 20%;
}

.trip-itn {
  --tw-text-opacity: 1;
  color: rgb(232 77 96 / var(--tw-text-opacity));
}

/* .image1{
  background-image: url("https://tripplanner.ai/_next/image?url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2389171%2Fpexels-photo-2389171.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26w%3D1260%26h%3D750%26dpr%3D1&w=1080&q=75");
} */

.tokyo-trip{
  background-image: url("https://tripplanner.ai/_next/image?url=https%3A%2F%2Fimages.pexels.com%2Fphotos%2F2389171%2Fpexels-photo-2389171.jpeg%3Fauto%3Dcompress%26cs%3Dtinysrgb%26w%3D1260%26h%3D750%26dpr%3D1&w=1080&q=75");
  background-size: contain;
  background-repeat: no-repeat;
  
}

.no-scroll {
  overflow: hidden;
}

svg.text-xl {
  background-color: green;
}
