.m-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Allow interactions with elements behind the overlay */
    background: rgba(0, 0, 0, 0); /* Make the overlay less obtrusive */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.md {
    bottom: 23%;
    left: 41%;
    padding: 20px;
    border-radius: 12px;
    width: 12%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    pointer-events: auto; /* Allow interactions with the modal */
    z-index: 1100; /* Ensure the modal is above the overlay */
}

.bodyModal{
    width: 100%;
    height: 100%;
}

.LI{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}