/* styles/Navbar.css */

/* styles/Navbar.css */
.navbar {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  

.navbar-hidden {
    opacity: 0;
    visibility: hidden; /* Hide the navbar completely when opacity is 0 */
    pointer-events: none; /* Optional: Prevent interaction when navbar is hidden */
}

/* Additional existing styles */
.group {
    display: flex;
    width: 20%;
    position: fixed;
    margin-top: 20px;
    margin-left: 10rem;
    justify-content: space-evenly;
}

.group2 {
    display: flex;
    width: 80%;
    position: fixed;
    margin-top: 20px;
    margin-left: 10rem;
    justify-content: flex-end;
}

.group2 > ul {
    list-style-type: none;
    display: flex;
}
